html, body {
    padding: 0;
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#startMenu {
    width: 400px;
    height: 130px;
    border-radius: 10px;
    padding: 20px;
    background-color: #1a1a1a;
    margin: 10em auto;
}

#startMenu.hidden {
    display: none;
}

#startMenu.animate {
    animation-duration: 0.7s;
    animation-name: circleHide;
    overflow: hidden;
}

#startMenu * {
    transition: 0.2s;
}

#startMenu.animate * {
    opacity: 0;
}

@keyframes circleHide {
    30% {
        width: 130px;
        height: 130px;
    }
    60% {
        border-radius: 200px;
        opacity: 1;
    }
    100% {
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -20px;
    }
}

#startContent span {
    display: block;
    padding-right: 30px;
    overflow: hidden;
}

#startContent input {
    width: 100%;

    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 1em;
}

#playButton {
    float: right;

    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 2.5em;
    line-height: 0;

    background-color: #ededed;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
    color: #fafafa;
    margin: 0.2em 1em 0.5em;
}
