html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

body {
    background-color: #fafafa;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#startHolder {
    text-align: center;
    position: absolute;
    width: 100%;
}

#startMenu {
    display: inline-block;
    text-align: left;
    width: 400px;
    height: 130px;
    border-radius: 10px;
    padding: 20px;
    background-color: #1a1a1a;
    margin: 10em auto;
    animation-duration: 0.7s;
    animation-name: circleShow;
    overflow: hidden;
}

#startMenu.hidden {
    display: none;
}

#startMenu.animateHide {
    animation-duration: 0.7s;
    animation-name: circleHide;
    overflow: hidden;
}

#startMenu * {
    transition: 0.2s;
}

#startMenu.animateHide * {
    opacity: 0;
}

@keyframes circleHide {
    30% {
        width: 130px;
        height: 130px;
    }
    60% {
        border-radius: 200px;
        opacity: 1;
    }
    100% {
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -20px;
    }
}

@keyframes circleShow {
    0% {
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -20px;
    }
    40% {
        border-radius: 200px;
        opacity: 1;
    }
    70% {
        width: 130px;
        height: 130px;
    }
}

#startContent span {
    display: block;
    padding-right: 30px;
    overflow: hidden;
}

#startContent input {
    width: 100%;

    border: none;
    padding: 0 10px;
    border-radius: 5px;
    height: 2rem;
    display: block;
}

#startContent input {
    outline: none;
}

#playButton {
    float: right;

    border: none;
    padding: 0 10px;
    height: 2rem;
    border-radius: 5px;

    background-color: #ededed;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
    color: #fafafa;
    margin: 0.2em 1em 0;
}

#startMenu #message {
    color: #dedede;
    font-style: italic;
    height: 1em;
    margin: 0.3em 0.3em 0.5em;
}

#leaderboard {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: rgba(250,250,250, 0.5);
    border: 1px solid rgba(26,26,26, 0.3);
    color: rgba(26,26,26, 0.8);
    padding: 1em;
    transition: 0.3s all;
}

#leaderboard.hidden {
    opacity: 0;
}

#leaderboard > h3 {
    margin: 0 0 0.3em;
    font-family: 'Montserrat Alternates', sans-serif;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}

li.you {
    font-weight: 900;
}
